* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #101026;
}

a {
    color: aliceblue
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #0088d2;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: aliceblue;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) { /*integração com JavaScript*/
        /*meio do hamburguer*/
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) { /*integração com JavaScript*/
        /*1 do hamburguer*/
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) { /*integração com JavaScript*/
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: 100%; /*esconde*/
        top: 70px;
        border-radius: 0 0 20px 20px;
        background-color: #101026;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active { /*integração com JavaScript*/
        left: 0; /*aparece*/
    }
}